<html lang="en" xmlns:th="http://www.thymeleaf.org" class="no-js">

<head th:replace="common/header :: common-header"/>

<body>

	<div th:replace="common/header :: navbar"/>

	<hr/>
	
	<div class="container">
		
		<div class="row" style="margin-top: 10px;">
			<form th:action="@{/checkout}" method="post">

				<!-- Left Panel -->
				<div class="col-xs-4">
					<div class="panel panel-default">
						<div class="panel-body">
							<button type="submit" class="btn btn-success btn-block">Place your order</button>
							
							<hr/>
							
							<h3>Order Summary</h3>
							<div class="row">
								<div class="col-xs-7 text-left">Total before tax:</div>
								<div class="col-xs-5 text-right">
									₹<span th:text="${shoppingCart.grandTotal}"></span>
								</div>
							</div>
							
							<div class="row">
								<div class="col-xs-7 text-left">Tax(6%):</div>
								<div class="col-xs-5 text-right">
									₹<span th:with="tax=${shoppingCart.grandTotal*0.06}" 
											th:text="${#numbers.formatDecimal(tax, 0 ,2)}"></span>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-xs-7 text-left">
									<h4 style="color: darkred;">
										<strong>Order Total: </strong>
									</h4>
								</div>
								<div class="col-xs-5 text-right">
									<h4>
										<strong style="color: darkred;">₹
											<span th:with="total=${shoppingCart.grandTotal+shoppingCart.grandTotal*0.06}"
												th:text="${#numbers.formatDecimal(total, 0 ,2)}"></span>
										</strong>
									</h4>
								</div>
							</div>
							
							<div class="panel-footer">Shipping and handling haven't	applied.</div>
						</div>
					</div>
				</div>

				<!-- Checkout Info -->
				<div class="col-xs-8">
					<div th:if="${missingRequiredField}">
						<h5 class="alert alert-warning">There are some fields missing. Field with * is required.</h5>
					</div>

					<div class="panel-group" id="accordion">

						<!-- 1. Shipping Address -->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#shippingInfo">
										1. Shipping Address 
									</a>
								</h4>
							</div>
							
							<div id="shippingInfo" class="panel-collapse collapse" th:classappend="${classActiveShipping}? 'in'">
								<div class="panel-body">
									<table class="table" th:if="${not emptyShippingList}">
										<thead>
											<tr>
												<th>Available Shipping Address</th>
												<th>Operations</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="userShipping : ${userShippingList}">
												<td th:text="${userShipping.userShippingStreet1}+' '+${userShipping.userShippingStreet2}+', 
														'+${userShipping.userShippingCity}+', '+${userShipping.userShippingState}">
												</td>
												<td>
													<a th:href="@{/setShippingAddress(userShippingId=${userShipping.id})}">Use this address</a>
												</td>
											</tr>
										</tbody>
									</table>

									<div class="form-group">
										<label for="shippingName">* Name</label> 
										<input type="text" class="form-control" id="shippingName" placeholder="Receiver Name" 
												name="shippingAddressName" th:value="${shippingAddress.shippingAddressName}" required="required"/>
									</div>

									<div class="form-group">
										<label for="shippingStreet">* Street Address</label> 
										<input type="text" class="form-control" id="shippingStreet"	placeholder="Street Address 1" 
												name="shippingAddressStreet1" th:value="${shippingAddress.shippingAddressStreet1}" required="required"/>
									</div>
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Street Address 2" 
												name="shippingAddressStreet2" th:value="${shippingAddress.shippingAddressStreet2}" />
									</div>

									<div class="row">
									
										<div class="col-xs-4">
											<div class="form-group">
												<label for="shippingCity">* City</label> 
												<input type="text" class="form-control" id="shippingCity" placeholder="Shipping City" required="required"
														th:name="shippingAddressCity" th:value="${shippingAddress.shippingAddressCity}" /> 
											</div>
										</div>
										
										<div class="col-xs-4">
											<div class="form-group">
												<label for="shippingState">* State</label> 
												<select id="shippingState" class="form-control"	th:name="shippingAddressState"
														th:value="${shippingAddress.shippingAddressState}" required="required">
													<option value="" disabled="disabled">Please select a state</option>
													<option th:each="state : ${stateList}" th:text="${state}"
															th:selected="(${shippingAddress.shippingAddressState}==${state})"></option>
												</select>
											</div>
										</div>
										
										<div class="col-xs-4">
											<div class="form-group">
												<label for="shippingZipcode">* ZIP code (6 digits)</label>
												<input type="text" class="form-control" id="shippingZipcode" placeholder="Shipping Zipcode" required="required"
														pattern="[0-9]{6}" maxlength="6" minlength="6"
														th:name="shippingAddressZipcode" th:value="${shippingAddress.shippingAddressZipcode}" />
											</div>
										</div>
										
									</div>
									
									<a data-toggle="collapse" data-parent="#accordion" class="btn btn-primary pull-right" href="#paymentInfo">Next</a>
								</div>
							</div>
						</div>


						<!-- Payment Information -->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#paymentInfo"> 2. Payment Information </a>
								</h4>
							</div>

							<div id="paymentInfo" class="panel-collapse collapse" th:classappend="${classActivePayment}? 'in'">
								<div class="panel-body">
									<table class="table" th:if="${not emptyPaymentList}">
										<thead>
											<tr>
												<th>Available Credit Card</th>
												<th>Operations</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="userPayment : ${userPaymentList}">
												<td th:text="${userPayment.cardName}"></td>
												<td>
													<a th:href="@{/setPaymentMethod(userPaymentId=${userPayment.id})}">Use this card</a>
												</td>
											</tr>
										</tbody>
									</table>

									<!-- Credit Card Information -->
									<div class="row">
										<div class="col-xs-12">
											<img th:src="@{/img/creditcard.png}" class="img-responsive"/><br />
											<div class="form-group">
												<label for="cardType">* Select Card Type: </label>
												<select class="form-control" id="cardType" name="type" th:value="${payment.type}" required="required">
													<option value="visa" th:selected="(${payment.type}=='visa')">Visa</option>
													<option value="mastercard" th:selected="(${payment.type}=='mastercard')">Mastercard</option>
													<option value="discover" th:selected="(${payment.type}=='discover')">Discover</option>
													<option value="amex" th:selected="(${payment.type}=='amex')">American Express</option>
												</select>
											</div>

											<div class="form-group">
												<label for="cardHolder">* Card Holder Name:</label> 
												<input type="text" class="form-control" id="cardHolder" required="required" 
													placeHolder="Card Holder Name" th:name="holderName" th:value="${payment.holderName}" />
											</div>
											<div class="form-group">
												<label for="cardNumber">* Card Number: 16 digit(XXXXXXXXXXXXXXXX)</label>
												<div class="input-group">
													<input type="text"  class="form-control" id="cardNumber" required="required" 
															placeHolder="Enter your 16 digit valid card number" th:name="cardNumber" 
															pattern="[0-9]{16}" maxlength="16" minlength="16" th:value="${payment.cardNumber}" />
													<span class="input-group-addon">
														<i class="fa fa-credit-card" aria-hidden="true"></i>
													</span>
												</div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-xs-7">
											<div class="form-group">
												<label>* Expiry on:</label>
												<div class="row">
													<div class="col-xs-6">
													
													
														<select class="form-control" name="expiryMonth" required="required" 
																		th:value="${payment.expiryMonth}">
																		
																<option disabled="disabled">-- Month --</option>
																<option value="01" th:selected="(${payment.expiryMonth}=='01')">Jan (01)</option>
																<option value="02" th:selected="(${payment.expiryMonth}=='02')">Feb (02)</option>
																<option value="03" th:selected="(${payment.expiryMonth}=='03')">Mar (03)</option>
																<option value="04" th:selected="(${payment.expiryMonth}=='04')">Apr (04)</option>
																<option value="05" th:selected="(${payment.expiryMonth}=='05')">May (05)</option>
																<option value="06" th:selected="(${payment.expiryMonth}=='06')">June (06)</option>
																<option value="07" th:selected="(${payment.expiryMonth}=='07')">July (07)</option>
																<option value="08" th:selected="(${payment.expiryMonth}=='08')">Aug (08)</option>
																<option value="09" th:selected="(${payment.expiryMonth}=='09')">Sept (09)</option>
																<option value="10" th:selected="(${payment.expiryMonth}=='10')">Oct (10)</option>
																<option value="11" th:selected="(${payment.expiryMonth}=='11')">Nov (11)</option>
																<option value="12" th:selected="(${payment.expiryMonth}=='12')">Dec (12)</option>
														</select>
													</div>
													<div class="col-xs-6">
														<select class="form-control" name="expiryYear" th:value="${payment.expiryYear}" required="required">
																<option disabled="disabled">-- Year --</option>
																<option value="20" th:selected="(${payment.expiryYear}=='20')">2020</option>
																<option value="21" th:selected="(${payment.expiryYear}=='21')">2021</option>
																<option value="22" th:selected="(${payment.expiryYear}=='22')">2022</option>
																<option value="23" th:selected="(${payment.expiryYear}=='23')">2023</option>
																<option value="24" th:selected="(${payment.expiryYear}=='24')">2024</option>
																<option value="25" th:selected="(${payment.expiryYear}=='25')">2025</option>
																<option value="26" th:selected="(${payment.expiryYear}=='26')">2026</option>
																<option value="27" th:selected="(${payment.expiryYear}=='27')">2027</option>
																<option value="28" th:selected="(${payment.expiryYear}=='28')">2028</option>
																<option value="29" th:selected="(${payment.expiryYear}=='29')">2029</option>
																<option value="30" th:selected="(${payment.expiryYear}=='30')">2030</option>
														</select>
													</div>
												</div>
											</div>
										</div>
										<div class="col-xs-5">
										<div class="form-group">
												<label for="cardCVV">* CVV : 3 digits(XXX)</label> 
												<input id="cardCVV" type="password"  class="form-control" name="cvv" 
													 	pattern="[1-9]{1}[0-9]{2}" maxlength="3" minlength="3" placeholder="Enter 3 digits CVV number"	
													 		th:name="cvv" th:value="${payment.cvv}" required="required"/>
											</div>
										</div>
									</div>


									<!-- Billing Address -->
									<div class="checkbox">
										<label>
											<input id="theSameAsShippingAddress" type="checkbox" name="billingSameAsShipping" value="true" /> 
												Same as shipping address
										</label>
									</div>

									<div class="form-group">
										<label for="billingName">* Name</label> 
										<input type="text" class="form-control billingAddress" id="billingName" placeholder="Receiver Name" 
										 		th:name="billingAddressName" required="required" th:value="${billingAddress.billingAddressName}" />
									</div>
									<div class="form-group">
										<label for="billingAddress">* Street Address</label>
										<input type="text" class="form-control billingAddress" id="billingAddress" placeholder="Street Address 1"
											th:name="billingAddressStreet1" required="required" th:value="${billingAddress.billingAddressStreet1}" />
											<br/>
										<input type="text" class="form-control billingAddress" id="billingAddress" placeholder="Street Address 2"
											th:name="billingAddressStreet2" th:value="${billingAddress.billingAddressStreet2}" />
									</div>

									<div class="row">
										<div class="col-xs-4">
											<div class="form-group">
												<label for="billingCity">* City</label> 
												<input type="text" class="form-control billingAddress" id="billingCity" placeholder="Billing city"
													th:name="billingAddressCity" required="required" th:value="${billingAddress.billingAddressCity}" />
											</div>
										</div>
										<div class="col-xs-4">
											<div class="form-group">
												<label for="billingState">* State</label> 
												<select id="billingState" class="form-control billingAddress" th:name="billingAddressState"
														th:value="${billingAddress.billingAddressState}" required="required">
													<option value="" disabled="disabled">Please select an option</option>
													<option th:each="state : ${stateList}" th:text="${state}"
														th:selected="(${billingAddress.billingAddressState}==${state})"></option>
												</select>
											</div>
										</div>
										<div class="col-xs-4">
											<div class="form-group">
												<label for="billingZipcode">* ZIP code(6 digits)</label>
												<input type="text" class="form-control billingAddress" id="billingZipcode" placeholder="Billing Zipcode"
													pattern="[0-9]{6}" maxlength="6" minlength="6"
													th:name="billingAddressZipcode" required="required" th:value="${billingAddress.billingAddressZipcode}" />
											</div>
										</div>
									</div>

									<a data-toggle="collapse" data-parent="#accordion" class="btn btn-primary pull-right" href="#reviewItems">Next</a>
								</div>
							</div>
						</div>

						<!-- 3. Review Items and Shipping -->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#reviewItems"> 3. Review Items and Shipping </a>
								</h4>
							</div>
							<div id="reviewItems" class="panel-collapse collapse">
								<div class="panel-body">
									<h4>Choose your shipping method:</h4>
									<div class="radio">
										<label> 
											<input type="radio" name="shippingMethod" value="groundShipping" checked="checked" /> Ground Shipping(Delivery in 5 days)
										</label>
									</div>
									<div class="radio">
										<label> 
											<input type="radio" name="shippingMethod" value="premiumShipping" /> Premium Shipping(Delivery in 3 days)
										</label>
									</div>

									<div class="row">
										<div class="col-xs-8">
											<h4>Books</h4>
										</div>
										<div class="col-xs-2">
											<h4>Price</h4>
										</div>
										<div class="col-xs-2">
											<h4>Qty</h4>
										</div>
									</div>

									<!-- display books in cart -->
									<div class="row" th:each="cartItem : ${cartItemList}">
											<hr />
											<div class="col-xs-2">
												<a th:href="@{/bookDetail(id=${cartItem.book.id})}"> 
													<img class="img-responsive shelf-book" th:src="#{adminPath}+@{/image/book/}+${cartItem.book.id}+'.jpg'" 
														style="width: 70px;" />
												</a>
											</div>
											<div class="col-xs-6">
												<div style="margin-left: 50px;">
													<a th:href="@{/bookDetail?id=}+${cartItem.book.id}">
														<h4	th:text="${cartItem.book.title}"></h4>
													</a>
													<p th:if="${cartItem.book.inStockNumber&gt;9}" style="color: green;">In Stock</p>
													<p th:if="${cartItem.book.inStockNumber&lt;10 and cartItem.book.inStockNumber&gt;0}" style="color: green;">
														Only <span th:text="${cartItem.book.inStockNumber}"></span> left in stock.
													</p>
													<p th:if="${cartItem.book.inStockNumber==0}" style="color: darkred;">Out of stock!</p>
													<a th:href="@{/shoppingCart/removeItem?id=}+${cartItem.id}" class="btn btn-danger">Remove</a>
												</div>
											</div>

											<div class="col-xs-2">
												<h5 style="color: #db3208; font-size: large;">
													₹<span th:text="${cartItem.book.ourPrice}"
														th:style="${cartItem.book.inStockNumber}==0? 'text-decoration: line-through' : ''">
													</span>
												</h5>
											</div>

											<div class="col-xs-2">
												<h5 style="font-size: large;" th:text="${cartItem.qty}"></h5>
											</div>
										
									</div>

									<hr />
									<h4 class="col-xs-12 text-right">
										<strong style="font-size: large;">Order Total (<span th:text="${#lists.size(cartItemList)}"></span> items):</strong> 
										<span style="color: #db3208; font-size: large;">₹<span th:text="${shoppingCart.grandTotal}"></span></span>
									</h4>
									<br/><br/>
									<button type="submit" class="btn btn-success btn-lg btn-block">Place your order</button>
									<p style="font-size: smaller;">
										By placing your order, you agree to Online Bookstore
										<a href="#">privacy</a>	notice and <a href="#">conditions</a> of use.
									</p>
								</div>
							</div>
						</div>

					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- end of container -->

  	<footer th:replace="common/header :: common-footer"/>

	<div th:replace="common/header::body-bottom-scripts"/>
		
	
</body>
</html>