<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />
	
	<div class="container">
		<div class="table-responsive">
			<table id="bookListTable" class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>Title</th>
						<th>Author</th>
						<th>Category</th>
						<th>List Price</th>
						<th>Our Price</th>
						<th>Stock</th>
						<th>Active?</th>
					</tr>
				</thead>
				
				<tbody>
					<tr data-th-each="book : ${bookList}">
						<td th:text="${book.id}"></td> 
						<td><a th:href="@{/book/bookInfo(id=${book.id})}"><span th:text="${book.title}"></span></a></td>
						<td th:text="${book.author}"></td>
						<td th:text="${book.category}"></td>
						<td th:text="${book.listPrice}"></td>
						<td th:text="${book.ourPrice}"></td>
						<td th:text="${book.inStockNumber}"></td>
						<td th:text="${book.active}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div th:replace="common/header :: body-bottom-scripts" />
	
	<script>
		$(document).ready(function() {
			$("#bookListTable").DataTable({
				"lengthMenu": [
								[5,10,15,20,-1],[5,10,15,20,"All"]
							  ]
			});
		});
	</script>
	
</body>
</html>
